
@font-face {
  font-family: 'AmigaForever';
  src: url('AmigaForever.eot?#iefix') format('embedded-opentype'),  url('AmigaForever.woff') format('woff'), url('AmigaForever.ttf')  format('truetype'), url('AmigaForever.svg#AmigaForever') format('svg');
  font-weight: normal;
  font-style: normal;
}
